absl-py==1.1.0
appdirs==1.4.4
astunparse==1.6.3
backports.csv==1.0.7
beautifulsoup4==4.11.1
boto3
botocore
cachetools==4.2.4
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.12
cheroot==8.6.0
CherryPy
click
cryptography==37.0.2
distlib==0.3.1
feedparser==6.0.10
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.3.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.46.3
h5py==2.10.0
idna
importlib-metadata
importlib-resources
jaraco.classes==3.2.1
jaraco.collections
jaraco.context
jaraco.functools
jaraco.text
jmespath
joblib
keras==2.9.0
Keras-Preprocessing==1.1.2
libclang==14.0.1
lxml==4.9.0
Markdown==3.3.7
more-itertools==8.13.0
mysqlclient==2.1.0
nltk
numpy
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==21.3
Pattern==3.6
pdfminer.six==20220524
portend
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dateutil
python-docx
pytz
regex
requests
requests-oauthlib
rsa
s3transfer
sacremoses
scipy
sentencepiece
sgmllib3k
six
soupsieve
tempora
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem
termcolor==1.1.0
tokenizers==0.9.3
torch==1.4.0
tqdm==4.49.0
transformers==3.5.1
typing_extensions
urllib3
virtualenv
Werkzeug
wrapt
yacs
zc.lockfile
zipp
checklist
FoolNLTK